.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.right-panel {
  padding: 1rem;
  position: relative; 
}

.left-panel {
    width: calc(100% - 90%);  /* Remaining width */
    height: 100vh;  /* 100% viewport height */
    background-color: #f0f0f0;  /* Example background color */
    padding: 1rem;
    border-color: black;
    display: flex; /* Use flexbox for responsiveness */
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Ensure full viewport height */
}


.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Adjust height and other styles as needed */
  background-color: rgba(0, 0, 0, 0.3); /* Optional: Overlay effect */
  padding: 20px;
}